*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: var(--color-white);
  }

:root{
    --color-primary:#08A6E4;
    --color-redish:#FB3B64;
    --color-green:#55DFB4;
    --color-black:#000000;
    --color-grey:#A5A5A5;
    --color-light-grey:#F7F7F7;
    --color-white: #FFFFFF;
    --max-width:1352px;
    --font-Raleway:'Raleway';
    --font-Open:"Open Sans";
    --border-radius:40px;
}


.main__container{
    width: 100%;
}
.nav{
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
    padding: 0 135px ;
}
.menu{
    max-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 
.menu__logo{
    color: var(--color-primary);
    font: normal normal 300 32px/37px var(--font-Raleway);
    display: flex;
    flex-grow: 1;
}
.menu__item{
    text-align: center;
    font: normal normal bold 11px/15px var(--font-Open);
    letter-spacing: 3.28px;
    padding-top:27px;
    padding-bottom: 28px;
    padding-right: 47.5px;
    padding-left: 47.5px;
    color: var(--color-grey);
    text-transform: uppercase;
    cursor: pointer;
}
.menu__item:hover{
    color: var(--color-black);
    border-bottom: 4px solid #08A6E4;
}
.banner__container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__title{
    text-align: center;
    color: var(--color-black);
    font: normal normal normal 49px/57px var(--font-Raleway);
    margin-top:130px;
    margin-bottom: 20px;
}
.banner__text{
    color: var(--color-black);
    font-family: var(--font-Open);
    font-size: 16px;
    text-align: center;
    margin-bottom: 38px;
}
.btn{
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    text-align: center;
}
.banner__btn{
    width: 440px;
    height: 67px;
    background-color: var(--color-primary);  
    box-shadow: 5px 10px 14px #07ACE629;
    font: normal normal bold 16px/22px var(--font-Open);
    border-radius: 40px;
    text-align: center;
    
}
.banner__img{
    width: 100%;
}

/* Section*/


.section__container{
    margin-top: 100px;

}

.section__title{
    font: normal normal normal 36px/42px var(--font-Raleway);
    color: var(--color-black);
    text-align: center;
}

.section{
    max-width: 1000px;
    margin:100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.section_box{
    max-width: 176px;
    display: flex;
    flex-direction: column;
    margin-right: 185px;
    text-align: center;
}

.section__circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 13px;

}

.section__box:nth-child(1) .section__circle {
    background-color: var(--color-redish);
  }
  
  .section__box:nth-child(1) .section__img {
    top: 0;
    left: 45%;
  }
  
  .section__box:nth-child(2) .section__circle {
    background-color: var(--color-primary);
  }
  
  .section__box:nth-child(2) .section__img {
    top: 14px;
    left: 47%;
  }
  
  .section__box:nth-child(3) .section__circle {
    background-color: var(--color-green);
  }
  
  .section__box:nth-child(3) .section__img {
    top: 6px;
    left: 50%;
  }

.section__img{
    position: absolute;

}

.section__number{
    font: normal normal 800 20px/24px var(--font-Raleway);
    letter-spacing: 5.96px;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 20px;
}

.section__text{
    font: normal normal normal 17px/20px var(--font-Raleway);
    color: var(--color-grey);
    text-align: center;
}

    







/* Benefits */










.benefits{
    width: 100%;
    background-color: var(--color-light-grey);
}

.benefits__container{
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 100px;
}

.benefits__container:last-child{
    display: flexbox;
    flex-direction: row;

}
.benefits__box{
    width: 100%;
    height:370px;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 38px;
    padding: 40px;
}


.article__last{
    width: 623px;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    margin-right: 60px;
    margin-top: 38px;
    padding: 40px;

}

.benefits__article{
    max-width: 416px;

}
.benefits__title{
    font: normal normal normal 36px/42px var(--font-Raleway);
    color: var(--color-black);
    
    
}
.benefits__text{
    text-align:left;
    font: normal normal normal 16px/22px var(--font-Open);
    color: var(--color-black);
    margin-top:20px;

}
.benefits__text::after {
    content:"";
    background-color:var(--accent-color) ;
    width: 327px;
    height: 3px;
    display: block;
    margin-top:50px;
}
.benefits--notebook {
    --accent-color: var(--color-redish);
    display: flex;
    justify-content: space-between;
  }
.benefits--phone{
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
}
.benefits--trumpet {
    max-width: 100%;
    --accent-color: var(--color-green);
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.benefits__img-first{
    max-width:368px ;
    max-height: 219px;
    position: relative;
    right: 150px;
    top: 45px;

}
.benefits__figure-first{
    width: 220px;
    height: 220px;
    background-color: var(--accent-color);
    border-radius: 41px;
    position: absolute;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);

}
.benefits__img-second {
    max-height:328px;
    position: relative;
}
.benefits__figure-second{
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
}
.benefits__img-third{
    max-width: 300px;
    max-height:207px;
}
.benefits__background {
    height: 370px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    padding: 100px 50px;
    margin-top: 38px;
}



/* Pricing */




.pricing{
    max-width: var(--max-width);
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.pricing-boxes{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pricing__box{
    display: flex;
    flex-direction: column
}
.pricing__box--basic{ 
    width: 372px;  
    height: 461px; 
    border: 2px solid var(--color-redish);
    border-radius: 18px;
}
.pricing__box--professional{
    width: 405px;
    height: 500px;
    border: 2px solid var(--color-primary);
    box-shadow: 5px 10px 27px #07ACE629;
    border-radius: 18px;
    margin:50px;  
    bottom:40px;
}
.pricing-box--premium{
    width:372px;
    height: 461px;
    border: 2px solid var(--color-green);
    border-radius: 18px;    
}
.title{
    text-align: center;
    font: normal normal normal 36px/42px var(--font-Raleway); 

}

.pricing__detalis{
    text-align: center;
    align-items:  center;
    justify-content: center;
    
}


.pricing__title{
    text-align: center;
    font: normal normal bold 20px/1px var(--font-Raleway);
    color: var(--color-black);
    padding-top: 34px;
    padding-bottom:14px;
}
.pricing__price{
    font: normal normal 300 46px/2px var(--font-Open);
    margin-top:25px;
    color: var(--accent-color);
}
.pricing-box:nth-child(1) .pricing__price{
    color: var(--color-redish);
    margin-bottom:69px;
}
.pricing-box:nth-child(2) .pricing__price{
    color: var(--color-primary);
}
.pricing-box:nth-child(3) .pricing__price{
    color: var(--color-green);
}

.pricing__limited{
    font: normal normal bold 12px/1px var(--font-Raleway);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 61px;
}    
.pricing__item{
    text-align: center;
    margin: 0 auto;
}
.pricing__item:before{
    content: url(../images/Ckechmark-1.svg);
    margin-right:10px;
    display: inline-block;
}

.pricing__item--not:before{
    content:  url(../images/Close.svg);
}
.pricing__item{
    text-align: center;
    margin:20px;

}

.pricing__box--basic .btn{
    width: 150px;
    height: 50px;
    position: relative;
    padding: 5px;
    bottom:-100px;
    left:100px;
    border-radius: 23px;
    background-color: var(--color-redish);
    font: normal normal bold 13px/41px var(--font-Open);
}
.pricing__box--professional .btn{
    width: 150px;
    height: 50px;
    position: relative;
    padding: 5px;
    bottom:-110px;
    left:130px;
    border-radius: 23px;
    background-color: var(--color-primary);
    font: normal normal bold 13px/41px var(--font-Open);
}
.pricing-box--premium .btn{
    width: 150px;
    height: 50px;
    position: relative;
    padding: 5px;
    bottom:-70px;
    left:130px;
    border-radius: 23px;
    background-color: var(--color-green);
    font: normal normal bold 13px/41px var(--font-Open);
}